<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <title>{% block title %}Home{% endblock %}</title>
    <style>
        html, body{
            height: 100%;
            background-color: #f6f6f6;
        }
    </style>
</head>
<body>
    <div class="container-fluid" style="min-height: 95%">
        <div class="row">
            <div class="col-sm-2">
                <center><img src="{% static 'images/1.jpg' %}" class="img-fluid" style="max-height:150px"></center>
            </div>
            <div class="col-sm-9">
                <center><h1>Blog làm từ Python Django</h1></center>
            </div>
            <div class="col-sm-1">
                {% if user.username %}
                    <p>Xin chào {{user.username}}</p>
                    <p><a href="{% url 'logout' %}">Đăng xuất</a> </p>
                {% else %}
                <p><a href="{% url 'register' %}">Đăng ký</a> | <a href="{% url 'login' %}">Đăng nhập</a></p>
                {% endif %}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-2">
                <div class="bs-sliderbar" style="background-color: #fff">
                    <ul class="nav flex-column">
                        <li><a href="/">Thông tin cá nhân</a></li>
                        <li><a href="{% url 'blog' %}">Bài viết</a></li>
                        <li><a href="{% url 'contact' %}">Liên hệ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="container-fluid">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container-fluid">
            <a href="#">Facebook</a> | <a href="#">Twiter</a> | <a href="#">Google</a>
        </div>
    </footer>
</body>
</html>