<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <center>
        <form action='.' method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Đăng ký">
        </form>
    </center>
</body>
</html>