{% extends 'pages/base.html' %}

{% block tilte %}Blog{% endblock %}

{% block content %}
{% for post in Posts %}
    <h4>{{post.date|date:"d-m-Y"}}<a href="/blog/{{post.id}}">{{post.title}}</a></h4>
    <img src="{{ post.image.url }}" width='500px' height='300px' alt="">
{% endfor %}
<br>
{% if page_obj.has_next %}
<a href="{{request.path}}?page={{page_obj.next_page_number}}">Tiếp theo</a>
{% endif %}
{% endblock %}